.PF-button {
	position: relative;
	display: inline-flex;
	box-sizing: border-box;
	border: 0;
	border-radius: 1.5em;
	padding: 0 12px;
	width: fit-content;
	max-width: calc(100% - 1em);
	/*padding: .5em .7em;*/
	padding: .5em;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	color: rgb(var(--PF-color-primary));
	background-color: rgb(var(--PF-color-surface), .9);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 1.5em;
	font-size: 17px;
	font-weight: 500;
	overflow: hidden;
	outline: 0;
	cursor: pointer;
	align-items: center;
	transition: box-shadow .2s;
	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
	margin: .5em;
	white-space: nowrap;
	min-width: fit-content
}

.PF-button.colorized {
	background-color: rgb(var(--PF-color-primary));
	color: rgb(var(--PF-color-surface));
}

.PF-button+.PF-button {
	margin-left: 0
}

.PF-button::-moz-focus-inner {
	border: 0
}

.PF-button::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(var(--PF-color-on-primary, 255, 255, 255));
	opacity: 0;
	transition: opacity .2s
}

.PF-button::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: rgb(var(--PF-color-on-primary, 255, 255, 255));
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform .5s
}

.PF-button:hover,
.PF-button:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12)
}

.PF-button:focus::before {
	opacity: .24
}

.PF-button:hover:focus::before {
	opacity: .3
}

.PF-button:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
}

.PF-button:active::after {
	opacity: .32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s
}

.PF-button:disabled, .PF-button[disabled], .PF-button[aria-disabled='true'] {
	color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
	background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.12);
	box-shadow: none;
	cursor: initial
}

.PF-button:disabled::before {
	opacity: 0
}

.PF-button:disabled::after {
	opacity: 0
}

.PF-button.outlined {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px;
	border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.24);
	border-radius: 10em;
	padding: 0 16px;
	width: fit-content;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	color: rgb(var(--PF-color-primary, 33, 150, 243));
	background-color: transparent;
	box-shadow: none;
	-webkit-border-radius: 10em;
	font-family: var(--PF-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
	overflow: hidden;
	outline: 0;
	cursor: pointer
}

.PF-button.outlined::-moz-focus-inner {
	border: 0
}

.PF-button.outlined::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity .2s
}

.PF-button.outlined::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform .5s
}

.PF-button.outlined:hover::before {
	opacity: .04
}

.PF-button.outlined:focus::before {
	opacity: .12
}

.PF-button.outlined:hover:focus::before {
	opacity: .16
}

.PF-button.outlined:active::after {
	opacity: .16;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s
}

.PF-button.outlined:disabled {
	color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
	background-color: transparent;
	cursor: initial
}

.PF-button.outlined:disabled::before {
	opacity: 0
}

.PF-button.outlined:disabled::after {
	opacity: 0
}

.PF-button.text {
	position: relative;
	border: 0;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	color: rgb(var(--PF-color-primary, 33, 150, 243));
	background-color: transparent;
	-webkit-border-radius: 10em;
	font-family: var(--PF-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
	cursor: pointer;
	box-shadow: none
}

.PF-button.text::-moz-focus-inner {
	border: 0
}

.PF-button.text::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity .2s
}

.PF-button.text::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform .5s
}

.PF-button.text:hover::before {
	opacity: .04
}

.PF-button.text:focus::before {
	opacity: .12
}

.PF-button.text:hover:focus::before {
	opacity: .16
}

.PF-button.text:active::after {
	opacity: .16;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s
}

.PF-button.text:disabled {
	color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
	background-color: transparent;
	cursor: initial
}

.PF-button.text:disabled::before {
	opacity: 0
}

.PF-button.text:disabled::after {
	opacity: 0
}

.PF-toolbar .PF-button {
	margin: auto 0
}