.PF-card {
  border-radius: 1em;
  /*border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), 0.24);*/
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0,0,0, 0.1);
  padding: 0.5rem;
  width: calc(100% - 1rem);
  background: rgb(var(--PF-color-surface));
  margin: 0.5rem;
  -webkit-box-flex: 1;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 0rem;
  margin: 8px;
  border-radius: 1em;
  position: relative;
  text-align: left;
}

.PF-card.transparent {
  border: none;
  padding: 0rem;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.PF-card.border {
  border: solid 1px rgba(var(--PF-color-on-surface), .1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.PF-card .elements {
  width: 100%;
  display: inline-block;
}

.PF-card.border .elements {
  /*flex: 1;*/
}

.PF-card h1 {
  font-weight: 500;
  font-size: 18px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  display: -webkit-box;
}

.PF-card>p {
  font-size: 14px;
  line-height: 20px;
}

.PF-card>.PF-image,
.PF-card>.image {
  background-color: rgb(var(--PF-color-surface, 33, 150, 243));
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 1em;
  display: inline-block;
  padding-bottom: 100%;
  border: solid 1px #ddd;
  margin-bottom: 0.5rem;
}

.PF-card .PF-image.middle,
.PF-card .image.middle {
  padding-bottom: 50%;
}

.PF-card.circle .PF-image,
.PF-card.circle .image,
.PF-card .PF-image.circle,
.PF-card .image.circle {
  border-radius: 20em;
}

.PF-card .PF-image .PF-icon,
.PF-card .image .PF-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background: rgb(var(--PF-color-surface));
  opacity: 0;
}

.PF-card .PF-image:hover .PF-icon,
.PF-card .image:hover .PF-icon {
  opacity: 1;
}

.PF-card .square {
  padding-bottom: 100%;
}

.PF-card .iconos,
.PF-card .footer {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.PF-card .footer {
  color: #636a70;
}

.PF-card .iconos i,
.PF-card .footer i {
  padding: 0rem;
  font-size: 1.2rem;
}

.PF-card .iconos>p,
.PF-card .footer>p {
  width: 100%;
  font-size: 13px;
}

.PF-card .footer>.PF-button {
  margin: 0;
}

.PF-card .footer>.PF-button+.PF-button {
  margin-left: .5em;
}

.PF-card .info, .PF-card header {
  text-align: left;
  color: rgb(var(--PF-color-on-surface));
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

.PF-card>.PF-image + .info, .PF-card>.PF-image + header {
  padding: 0 .5em;
}

.PF-card.center .info,
.PF-card.center .info *,
.PF-card.center header,
.PF-card.center header *{
  text-align: center;
}

.PF-card .info h1,
.PF-card header h1{
  font-weight: 500;
  font-size: 1.2em;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  display: -webkit-box;
  white-space: pre-wrap;
}

.PF-card .info p,
.PF-card header p{
  font-size: 1em;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow: hidden;
  font-weight: 500;
  /* padding-top: .5em; */
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  width: 100%;
  line-height: 1.7;
  white-space: pre-wrap;
}

.PF-card .rest {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  padding: 0;
}

.PF-card .rest p {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  padding-top: 0;
  font-size: 14px;
}

.PF-card .rest:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgb(var(--PF-color-surface))));
  background: -webkit-linear-gradient(transparent, rgb(var(--PF-color-surface)));
  background: -o-linear-gradient(transparent, rgb(var(--PF-color-surface)));
  background: linear-gradient(transparent, rgb(var(--PF-color-surface)));
  z-index: 1;
}