.PF-collection {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}

.PF-collection.border {
  border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), 0.1);
}

.PF-collection li.collection-item {
    padding: 0;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.PF-collection li.collection-item:hover {
  background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.1);
}

.PF-collection li.collection-item.active {
			background-color: rgba(var(--PF-color-primary), .2);
		}

.PF-collection li.collection-item .PF-icon,
.PF-collection li.collection-item .PF-avatar,
.PF-collection li.collection-item .PF-image {
  padding: .5em;
  background-color: rgba(var(--PF-color-primary),.1);
  border-radius: 10em;
  min-width: 2.5em;
  min-height: 2.5em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.PF-collection li.collection-item .PF-avatar {
  background-color: rgba(var(--PF-color-primary), .3);
}

.PF-collection li.collection-item .PF-icon i {
  font-size: 1.2em;
  color: rgb(var(--PF-color-primary));
  margin: auto;
}

.PF-collection li.collection-item .data {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    border-bottom: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), 0.1);
    padding: .5em;
}

.PF-collection li.collection-item:last-child .data {
  border-bottom: none;
}

.PF-collection li.collection-item:hover .data {
  border-color: transparent;
}

.PF-collection li.collection-item .data p {
  font-weight: 600;
}

.PF-collection li.collection-item .data span {
    font-size: 15px;
}