.PF-collapsible {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 1em;
    overflow: auto;
}

.PF-collapsible>li {
  border-bottom: 1px solid #eee;
  position: relative;
}

.PF-collapsible>li:last-child {
  border-bottom: none;
}

.PF-collapsible>li>.collapsible-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  padding: .5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.PF-collapsible>li>.collapsible-header:after {
    width: 10px;
    height: 10px;
    border-right: 2px solid #4a6e78;
    border-bottom: 2px solid #4a6e78;
    position: relative;
    margin: auto;
    content: " ";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: auto 1em;
}

.PF-collapsible>li>.collapsible-header>.data {
  padding: .5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.PF-collapsible>li>.collapsible-header>.data>p {
  font-weight: 500;
  font-size: 1.2em;
}

.PF-collapsible>li>.collapsible-header>.data>span {
  font-size: 15px;
}

.PF-collapsible>li>.collapsible-body {
  display: none;
}

.PF-collapsible>li>.collapsible-body>.PF-collection {
    border: none;
    border-radius: 0;
    background-color: rgba(var(--PF-color-primary), 0.1);
    padding: 0;
}

.PF-collapsible>li>.collapsible-body>.PF-collection>li.collection-item .data {
  padding: 1em;
}

.PF-collapsible>li>.collapsible-body>.PF-collection li.collection-item .data p {
  font-weight: 500;
}

.PF-collapsible>li>.collapsible-header.active:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}