[PFTheme] {
	--PF-color-primary: 23, 89, 233;
	--PF-color-secondary: 227, 242, 253;
	--PF-color-background: 255, 255, 255;
	--PF-color-surface: 255, 255, 255;
	--PF-color-error: #b00020;
	--PF-color-on-primary: 255, 255, 255;
	--PF-color-on-secondary: #442c2e;
	--PF-color-on-surface: 0, 0, 0;
	--PF-color-on-error: #fff;
	--PF-color-text-primary-on-background: rgba(0, 0, 0, 0.87);
	--PF-color-text-secondary-on-background: rgba(0, 0, 0, 0.54);
	--PF-color-text-hint-on-background: rgba(0, 0, 0, 0.38);
	--PF-color-text-disabled-on-background: rgba(0, 0, 0, 0.38);
	--PF-color-text-icon-on-background: rgba(0, 0, 0, 0.38);
	--PF-color-text-primary-on-light: rgba(0, 0, 0, 0.87);
	--PF-color-text-secondary-on-light: rgba(0, 0, 0, 0.54);
	--PF-color-text-hint-on-light: rgba(0, 0, 0, 0.38);
	--PF-color-text-disabled-on-light: rgba(0, 0, 0, 0.38);
	--PF-color-text-icon-on-light: rgba(0, 0, 0, 0.38);
	--PF-color-text-primary-on-dark: white;
	--PF-color-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
	--PF-color-text-hint-on-dark: rgba(255, 255, 255, 0.5);
	--PF-color-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
	--PF-color-text-icon-on-dark: rgba(255, 255, 255, 0.5)
}

[PFTheme=dark] {
	--PF-color-primary: 138, 180, 248;
	--PF-color-surface: 28, 28, 30;
	--PF-color-on-surface: 255, 255, 255;
	--PF-color-background: 0, 0, 0
}

[PFTheme] {
	--PFC-blue: 33, 150, 243;
	--PFC-red: 244, 64, 52;
	--PFC-orange: 255, 87, 34;
	--PFC-meat: 255, 125, 114;
	--PFC-pink: 233, 30, 99;
	--PFC-green: 76, 175, 80;
	--PFC-greenwater: 0, 150, 136;
	--PFC-yellow: 229, 125, 15;
	--PFC-purple: 163, 71, 244;
	--PFC-brown: 93, 64, 55;
	--PFC-grey: 128, 128, 128;
	--PFC-black: 000, 000, 000;
}

[PFTheme=dark] {
	--PFC-blue: 138, 180, 248;
	--PFC-red: 246, 174, 169;
	--PFC-orange: 255, 115, 71;
	--PFC-meat: 255, 125, 114;
	--PFC-pink: 255, 174, 213;
	--PFC-green: 129, 201, 149;
	--PFC-greenwater: 169, 246, 229;
	--PFC-yellow: 253, 214, 99;
	--PFC-purple: 203, 169, 246;
	--PFC-brown: 250, 227, 207;
	--PFC-grey: 174, 203, 250;
	--PFC-black: 255, 255, 255;
}

[PFC=blue] {
	--PF-color-primary: var(--PFC-blue)
}

[PFC=red] {
	--PF-color-primary: var(--PFC-red)
}

[PFC=orange] {
	--PF-color-primary: var(--PFC-orange)
}

[PFC=meat] {
	--PF-color-primary: var(--PFC-meat)
}

[PFC=pink] {
	--PF-color-primary: var(--PFC-pink)
}

[PFC=green] {
	--PF-color-primary: var(--PFC-green)
}

[PFC=greenwater] {
	--PF-color-primary: var(--PFC-greenwater)
}

[PFC=yellow] {
	--PF-color-primary: var(--PFC-yellow)
}

[PFC=purple] {
	--PF-color-primary: var(--PFC-purple)
}

[PFC=brown] {
	--PF-color-primary: var(--PFC-brown)
}

[PFC=grey] {
	--PF-color-primary: var(--PFC-grey)
}

[PFC=black] {
	--PF-color-primary: var(--PFC-black)
}