.PF-grid {
	width: 100%;
	padding: 2px;
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	display: -ms-grid;
	display: grid
}

.PF-grid.horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: initial;
	flex-wrap: initial;
	overflow-x: scroll;
	-webkit-scroll-snap-type: mandatory;
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	-webkit-scroll-snap-points-x: repeat(100%);
	-ms-scroll-snap-points-x: repeat(100%);
	scroll-snap-points-x: repeat(100%)
}

.PF-grid>.PF-image {
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 1 120px;
	min-width: 10em;
	margin: .2rem;
	overflow: hidden;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	background-color: transparent;
	border: 0;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	margin: .5em
}

.PF-grid>.PF-card {
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	width: calc(100% - .5em);
	margin: .25em;
	overflow: hidden;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	background-color: transparent;
	padding: 0;
	border: 0;
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	padding: 0
}

.PF-grid:not(.transparent):not(.circle)>.PF-card {
	background-color: rgb(var(--PF-color-surface))
}

.PF-grid>.PF-card>.info {
	padding: 1rem
}

.PF-grid.center>.PF-card .info,
.PF-grid.center>.PF-card .info * {
	text-align: center
}

.PF-grid>.PF-card.selected {
	padding: .25em;
	max-width: calc(100% - .5em);
	border: solid .2em rgb(var(--PF-color-primary))
}

.PF-grid>.PF-card>.PF-image {
	border: 0;
	margin: 0;
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0
}

body:not([PFTheme="dark"]) .PF-grid:not(.circle)>.PF-card>.PF-image:not(.circle) {
	border: solid 1px rgb(var(--PF-color-on-surface), .1);
}

.PF-grid.horizontal .PF-card {
	-webkit-box-flex: initial;
	-ms-flex: initial;
	flex: initial;
	-webkit-scroll-snap-align: start;
	scroll-snap-align: start;
	border: solid 1px #ddd;
	padding: .5rem
}

.PF-grid .PF-card .image {
	padding-bottom: 100%
}

.PF-grid.circle .image {
	border-radius: 20em
}

.PF-grid .PF-card .info h1 {
	font-size: 18px;
	-webkit-line-clamp: 2;
	padding-bottom: 0
}

.PF-grid .PF-card .info p {
	font-size: 14px;
	-webkit-line-clamp: 2
}

.PF-grid.inside .PF-card {
	color: rgb(var(--PF-color-on-surface))
}

.PF-grid.inside .PF-card .info {
	color: rgb(var(--PF-color-on-surface))
}

.PF-grid.selector .PF-card {
	border-radius: 1rem;
	cursor: pointer
}

.PF-grid.selector .PF-image {
	border-radius: 1rem;
	cursor: pointer
}

.PF-grid.selector .PF-card .image {
	padding-bottom: calc(100% - 4rem)
}

.PF-grid.selector .PF-card .PF-image {
	border: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-grid.selector .PF-card .info {
	color: rgb(var(--PF-color-on-surface));
	position: absolute;
	bottom: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(100%, rgb(var(--PF-color-surface))));
	background: -webkit-linear-gradient(transparent 0, rgb(var(--PF-color-surface)) 100%);
	background: -o-linear-gradient(transparent 0, rgb(var(--PF-color-surface)) 100%);
	background: linear-gradient(transparent 0, rgb(var(--PF-color-surface)) 100%);
	border-radius: 0 0 1em 1em
}

.PF-grid.selector .PF-card .info h1 {
	font-size: 1.5rem
}

.PF-grid.circle {
	text-align: center
}

.PF-grid.selector.circle>.PF-card,
.PF-grid.circle>.PF-card>.PF-image {
	border-radius: 30em;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	overflow: hidden
}

.PF-grid.transparent .PF-card,
.PF-grid.circle .PF-card {
	-webkit-box-shadow: none;
	box-shadow: none
}

.PF-grid>.PF-card {
	overflow: initial
}

.PF-grid.transparent>.PF-card>.info,
.PF-grid.circle>.PF-card>.info {
	padding: .5em
}

.PF-grid.transparent>.PF-card>.image,
.PF-grid.circle>.PF-card>.image {
	margin-bottom: 0
}