:root {
	--PF-font: Kaana Sans;
	--PF-blur: 20px;
	--PF-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1)
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

hr.PF,
.PF hr {
	border: 0;
	border-top: solid 1px #ddd;
	width: 90%;
	margin: .5rem auto
}

.PF-hidescrollbar::-webkit-scrollbar {
	display: none
}

.PF {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: .5s !important;
	-o-transition: .5s !important;
	transition: .5s !important;
	outline: 0
}

.PF:not(i, .PF-button),
.PF *:not(i, .PF-button) {
	font-family: var(--PF-font), 'Roboto', 'DumDarac Emojis', sans-serif
}

.PF.bold {
	font-weight: 700
}

.PF.shadow {
	-webkit-box-shadow: var(--PF-shadow);
	box-shadow: var(--PF-shadow)
}

.PF.shadow.sh64 {
	-webkit-box-shadow: rgba(0, 0, 0, .22) 0 25.6px 57.6px 0, rgba(0, 0, 0, .18) 0 4.8px 14.4px 0;
	        box-shadow: rgba(0, 0, 0, .22) 0 25.6px 57.6px 0, rgba(0, 0, 0, .18) 0 4.8px 14.4px 0
}

@supports((-webkit-backdrop-filter: blur(var(--PF-blur))) or (backdrop-filter: blur(var(--PF-blur)))) {
	.PF.blur {
		-webkit-backdrop-filter: blur(var(--PF-blur));
		backdrop-filter: blur(var(--PF-blur))
	}
}

.PF .space {
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto
}

.PF.PF-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(var(--PF-color-on-surface), .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9989;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	pointer-events: none;
}

.PF.PF-overlay.show {
	opacity: 1;
	pointer-events: initial;
}

.PF.PF-avatars>.PF-avatar {
	margin-left: -1em;
	border: solid 3px rgb(var(--PF-color-surface))
}

.PF.PF-avatars>.PF-avatar:first-child {
	margin-left: .5em
}

.PF-avatar {
	width: 40px;
	height: 40px;
	margin: .5em;
	background-color: rgba(var(--PF-color-on-surface), .1);
	border-radius: 10em;
	background-size: cover;
	background-position: center;
	display: inline-block;
	position: relative;
	overflow: visible !important;
	-o-object-fit: cover;
	   object-fit: cover
}

.PF-avatar.online:after {
	content: "";
	width: 1em;
	height: 1em;
	background: #7fb54f;
	border: 2px solid #fff;
	display: inline-block;
	position: absolute;
	top: 65%;
	left: 65%;
	border-radius: 50%
}

img.PF-avatar[src=''] {
	content: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
}

.PF-badge {
	width: 24px;
	padding: .5em 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	right: -1em;
	top: -1em;
	z-index: 1;
	position: absolute;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: var(--PF-font), "Roboto", "Helvetica", "Arial", "DumDarac Emojis", sans-serif;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 10em;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: rgb(var(--PF-color-primary));
	color: 9;
	-webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
	font-weight: 900;
	font-size: .8em;
	color: rgba(var(--PF-color-on-surface))
}

.PF-toolbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgb(var(--PF-color-on-surface));
	background-color: rgba(var(--PF-color-surface), .8);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: .5rem;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	min-height: 56px;
	-webkit-backdrop-filter: saturate(180%) blur(var(--PF-blur));
	backdrop-filter: saturate(180%) blur(var(--PF-blur))
}

body[scrolling='true'] .PF-toolbar,
body[scrolling='true'] .PF-tabbar,
body[scrolling='true'] .PF-content.between {
	background-color: rgba(var(--PF-color-background), .8)
}

.PF-toolbar.flex,
.PF-toolbar .flex,
.PF-toolbar .flex-wrap,
.PF-toolbar .flex-left,
.PF-toolbar .flex-right,
.PF-toolbar .flex-center_hdr,
.PF-toolbar .flex-between {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-toolbar .flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.PF-toolbar .flex-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.PF-toolbar .flex-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.PF-toolbar .flex-inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

body[scrolling='false'] .PF-toolbar:not(.shadow) {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.PF-toolbar.noshadow,
.PF-toolbar.transparent {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	-webkit-backdrop-filter: initial;
	backdrop-filter: initial
}

.PF-toolbar.onlyborder {
	border-bottom: solid 1px #ddd;
	-webkit-box-shadow: none;
	box-shadow: none
}

.PF-toolbar.center {
	text-align: center
}

.PF-toolbar>.PF-avatar {
	margin: 0
}

.PF-toolbar h1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	display: inline-block;
	font-size: 1rem;
	margin: auto 0;
	overflow: hidden;
	padding: 0 .5rem;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2rem
}

.PF-toolbar div.dbl {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: left;
	padding: 0 .5rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden
}

.PF-toolbar div.dbl h1 {
	padding: 0;
	display: block;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 500
}

.PF-toolbar div.dbl p {
	font-size: 13px;
	padding: 0;
	display: block;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.PF-toolbar .PF-button+.PF-icon,
.PF-toolbar .PF-icon+.PF-button {
	margin-left: .5rem
}

.PF-bottombar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgb(var(--PF-color-surface));
	-webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
	color: #212121;
	position: fixed;
	z-index: 991;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: flex
}

.PF-bottombar:empty {
	display: none
}

.PF-bottombar::-webkit-scrollbar {
	display: none
}

.PF-bottombar ul {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 50vw;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content
}

.PF-bottombar ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 0 1rem;
	cursor: pointer;
	color: #43474a;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s
}

.PF-bottombar ul li.active {
	color: rgb(var(--PF-color-primary));
	scale: 1.05
}

.PF-bottombar li i {
	padding: .5rem;
	font-size: 22px;
	margin: auto
}

.PF-bottombar li span {
	padding: .5rem;
	padding-top: 0;
	font-size: 13px;
	white-space: nowrap
}

.PF-alertsWrapper {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: auto;
	z-index: 9999;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.PF-alert {
	background-color: rgb(var(--PF-color-on-surface));
	border-radius: 1.5em;
	color: rgba(var(--PF-color-surface));
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: auto;
	margin-top: .2em;
	padding: .2em .5em;
	outline: 1px solid transparent;
	transition: opacity 200ms, -webkit-transform 300ms cubic-bezier(.165, .84, .44, 1);
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	pointer-events: initial;
	font-size: 1em;
	-webkit-backdrop-filter: saturate(180%) blur(var(--PF-blur));
	backdrop-filter: saturate(180%) blur(var(--PF-blur));
	background-color: rgba(var(--PF-color-on-surface), .6);
	color: rgb(var(--PF-color-surface))
}

.PF-alert *:empty {
	display: none
}

.PF-alert i {
	color: rgba(var(--PF-color-surface))
}

.PF-alertContent {
	text-shadow: 0 0 #000
}

.PF-alertContent p {
	display: inline-block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-weight: 500
}

.PF-alertOpacity {
	opacity: .97;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}

.PF-alertContent,
.PF-alertAction {
	text-decoration: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .5rem;
	font-size: 17px;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	margin: auto
}

.PF-alertActionWrapper {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.PF-alertAction {
	color: rgba(var(--PF-color-primary));
	cursor: pointer;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: -1.4px
}

.PF-alertAction:hover {
	color: #bbdefb
}

.PF-alertSpacer {
	display: inline-block;
	vertical-align: middle;
	padding: .5rem
}

.PF-alertSpacer:hover {
	opacity: .75;
	outline: 1px solid transparent
}

.PF-alertSpacer:focus {
	opacity: .75;
	outline: 2px solid transparent
}

.PF-alertSpacer.PF-alertTransparent {
	background-color: transparent;
	border: 0;
	cursor: pointer
}

@media(max-width:35em) {
	.PF-alertsWrapper {
		width: 100%;
		margin: 0;
		padding: 0
	}
	.PF-alert {
		border-radius: 1em;
		width: calc(100% - 1em);
		padding: .5em;
		margin: .5em
	}
	.PF-alert+.PF-alert {
		display: none !important
	}
}

.PF-infobox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgb(var(--PF-color-surface, 33, 150, 243));
	color: #212121;
	position: relative;
	width: calc(100% - 1rem);
	padding: .5rem;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	border-radius: 1em;
	margin: .5rem
}

.PF-infobox.noshadow {
	-webkit-box-shadow: none;
	box-shadow: none
}

.PF-infobox.border {
	border-bottom: solid 1px #ddd;
	-webkit-box-shadow: none;
	box-shadow: none
}

.PF-infobox.center {
	text-align: center
}

.PF-infobox div.dbl {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: left;
	padding: .5rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden
}

.PF-infobox h1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	display: inline-block;
	margin: auto 0;
	padding: .5rem;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--PF-font), 'Roboto', 'DumDarac Emojis', sans-serif;
	padding-bottom: 0;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.PF-infobox p {
	font-size: 15px;
	font-family: var(--PF-font), 'Roboto', 'DumDarac Emojis', sans-serif;
	font-weight: 400;
	padding: .5rem;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.PF-image {
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	background-size: cover;
	background-position: center;
	background-color: rgb(var(--PF-color-primary, 33, 150, 243), .1);
	background-repeat: no-repeat;
	-o-object-fit: cover;
	object-fit: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	overflow: hidden
}

.PF-image.circle {
	border-radius: 50em
}

.PF-image.contain {
	background-size: contain !important
}

.PF-image.transparent {
	background-color: transparent
}

.PF-image>img {
	width: 100%;
	max-height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	object-fit: cover;
	-o-object-position: center;
	   object-position: center
}

img.PF-image[src=''],
.PF-image>img[src=''] {
	content: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
}

.PF-image.icon>i {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 2em;
	color: rgb(var(--PF-color-on-surface))
}

.PF-image .PF-icon {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
	background: rgb(var(--PF-color-surface));
	opacity: 0
}

.PF-image:hover .PF-icon {
	opacity: 1
}

.PF-image .PF-toolbar {
	-webkit-box-shadow: none;
	box-shadow: none;
	color: rgba(var(--PF-color-on-surface));
	background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 30%, transparent);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, .5)), to(transparent));
	background-image: linear-gradient(rgba(0, 0, 0, .5) 30%, transparent);
	background-color: initial
}

.PF-image .PF-toolbar .PF-icon:not(:hover) {
	color: rgba(var(--PF-color-surface))
}

.PF-icon {
	padding: .5rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border-radius: 2em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	margin: auto 0;
	color: rgb(var(--PF-color-primary));
	fill: rgb(var(--PF-color-primary));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-icon.margin {
	margin: .5rem
}

.PF-icon.image {
	background-size: cover;
	background-position: center;
	width: 2rem;
	height: 2rem
}

.PF-icon.border {
	color: rgb(var(--PF-color-primary));
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24)
}

.PF-icon.bg,
.PF-icon:hover {
	background: rgb(var(--PF-color-surface, 33, 150, 243))
}

.PF-drawer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgb(var(--PF-color-surface));
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	max-height: calc(100% - 1em);
	width: 20rem;
	max-width: 90%;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	z-index: 9991;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	overflow: hidden;
	overflow-y: auto;
	will-change: transform;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	opacity: 0;
	border-radius: 1.5em
}

.PF-drawer.left {
	left: -100vw
}

.PF-drawer.right {
	right: -100vw
}

.PF-drawer.active {
	opacity: 1
}

.PF-drawer.active.left {
	left: .5em
}

.PF-drawer.active.right {
	right: .5em
}

.PF-drawer .user-holder {
	width: 100%;
	color: rgb(var(--PF-color-on-surface));
	z-index: 2;
	border-bottom: solid 1px #ddd
}

.PF-drawer .user-holder .avatares {
	padding: .5rem;
	width: 100%;
	padding-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}

.PF-drawer .user-holder .avatares>.PF-avatar {
	margin: .25em
}

.PF-drawer .user-holder .avatares>.PF-avatar:not(:first-child) {
	width: 25px;
	height: 25px
}

.PF-drawer .user-holder .info {
	width: 100%;
	padding: .5rem;
	padding-top: 0;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.PF-drawer .user-holder .info .PF-icon {
	margin: .5rem;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content
}

.PF-drawer .user-holder .info .button:hover {
	color: rgb(var(--PF-color-primary));
	background: rgb(var(--PF-color-surface));
	border-radius: 2em;
	border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24)
}

.PF-drawer .user-holder .info .data {
	width: 100%;
	overflow: hidden
}

.PF-drawer .user-holder .info .data h1 {
	font-size: 30px;
	padding: .5rem;
	width: 100%;
	padding-bottom: 0;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	word-break: break-word;
	font-weight: 600
}

.PF-drawer .user-holder .info .data p {
	font-size: 17px;
	padding: .5rem;
	width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	word-break: break-word;
	font-weight: 500;
	white-space: nowrap;
	color: rgba(var(--PF-color-on-surface), .5)
}

.PF-drawer ul {
	overflow: auto;
	padding: 0
}

.PF-drawer ul .PF-hidedcontent .content {
	padding: 0
}

.PF-drawer ul hr {
	width: calc(100% - 3.5rem);
	margin-right: 0
}

.PF-drawer ul {
	display: inline-block
}

.PF-drawer ul li {
	list-style: none;
	cursor: pointer;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: left;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	width: calc(100% - 0.5rem);
	outline: 0;
	cursor: pointer;
	padding: 0;
	font-weight: 500;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 2em 0 0 2em;
	margin: .5rem;
	margin-right: 0;
	color: rgb(var(--PF-color-on-surface))
}

.PF-drawer ul li i,
.PF-drawer ul li svg {
	color: rgb(var(--PF-color-on-surface));
	fill: rgb(var(--PF-color-on-surface));
	margin: .5rem;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s
}

.PF-drawer ul li svg {
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s
}

.PF-drawer ul li span {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding: .5em
}

.PF-drawer ul li:hover,
.PF-drawer ul li.active {
	background: rgba(var(--PF-color-primary), .22);
	color: rgb(var(--PF-color-primary));
	fill: rgb(var(--PF-color-primary))
}

.PF-drawer ul li:hover i,
.PF-drawer ul li:hover svg,
.PF-drawer ul li.active i,
.PF-drawer ul li.active svg {
	color: rgb(var(--PF-color-primary));
	fill: rgb(var(--PF-color-primary))
}

.PF-textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	will-change: transform, opacity;
	border-radius: 4px 4px 0 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 56px;
	will-change: opacity, transform, color;
	margin-bottom: 24px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background-color: #f5f5f5;
	width: 100%
}

.PF-textarea textarea {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: inherit;
	text-transform: inherit;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 16px 6px;
	-webkit-transition: opacity 180ms cubic-bezier(.4, 0, .2, 1);
	-o-transition: opacity 180ms cubic-bezier(.4, 0, .2, 1);
	transition: opacity 180ms cubic-bezier(.4, 0, .2, 1);
	border: 0;
	border-bottom: 2px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24);
	border-radius: 0;
	background: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	resize: none;
	padding: 1em;
	padding-top: 25px;
	padding-bottom: .5em
}

.PF-textarea textarea:not([type]):focus,
.PF-textarea textarea[type=text]:focus,
.PF-textarea textarea[type=password]:focus,
.PF-textarea textarea[type=email]:focus,
.PF-textarea textarea[type=url]:focus,
.PF-textarea textarea[type=time]:focus,
.PF-textarea textarea[type=date]:focus,
.PF-textarea textarea[type=datetime-local]:focus,
.PF-textarea textarea[type=tel]:focus,
.PF-textarea textarea[type=number]:focus,
.PF-textarea textarea[type=search]:focus {
	outline: 0
}

.PF-textarea label {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	line-height: 16px;
	left: 16px;
	right: initial;
	top: 18px;
	pointer-events: none;
	position: absolute;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 500;
	letter-spacing: .009375em;
	text-decoration: inherit;
	text-transform: inherit;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	line-height: 1.15rem;
	text-align: left;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: text;
	overflow: hidden;
	will-change: transform;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-transform: inherit;
	-ms-transform: inherit;
	transform: inherit
}

.PF-textarea textarea:focus-within+label,
.PF-textarea textarea:valid+label,
.PF-textarea:not(.empty) textarea+label {
	-webkit-transform: translateY(-50%) scale(.75);
	-ms-transform: translateY(-50%) scale(.75);
	transform: translateY(-50%) scale(.75);
	color: rgb(var(--PF-color-primary))
}

.PF-textarea:not(.empty) textarea:invalid+label {
	color: red
}

.PF-textarea:not(.empty) textarea:invalid+label+.bar {
	background-color: red
}

.PF-textarea .bar {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	background-color: rgb(var(--PF-color-primary));
	bottom: 0;
	height: 2px;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.PF-textarea textarea:focus+label+.bar,
.PF-textarea:not(.empty) textarea:invalid+label+.bar {
	-webkit-transform: inherit;
	-ms-transform: inherit;
	transform: inherit
}

.PF-textarea.outlined,
.PF-textarea.outlined textarea {
	border: 0
}

.PF-textarea.outlined textarea:focus-within,
.PF-textarea.outlined textarea:valid,
.PF-textarea.outlined textarea:not(:empty):invalid {
	border: solid 2px rgb(var(--PF-color-primary));
	background-color: rgba(var(--PF-color-surface));
	border-radius: 5px
}

.PF-textarea.outlined:has(textarea:focus) textarea,
.PF-textarea.outlined:has(textarea:not(:empty)) textarea {
	border: 0
}

.PF-textarea.outlined textarea {
	padding: 10px 16px 6px
}

.PF-textarea.outlined .bar {
	display: none
}

.PF-textarea.outlined textarea:focus-within+label,
.PF-textarea.outlined textarea:valid+label,
.PF-textarea.outlined textarea:not(:empty):invalid+label {
	-webkit-transform: translateY(-140%) scale(.75);
	-ms-transform: translateY(-140%) scale(.75);
	transform: translateY(-140%) scale(.75);
	background: rgba(var(--PF-color-surface));
	padding: 0 .5em;
	color: rgb(var(--PF-color-primary))
}

.PF-textarea.transparent {
	background: transparent
}

.PF-textarea.transparent label {
	left: 0;
	top: 21px
}

.PF-textarea.transparent:focus-within label {
	left: 0
}

.PF-textarea.transparent textarea {
	padding: 20px 0 0
}

.PF-form .PF-textfield,
.PF-form .PF-textarea,
.PF-form .PF-select {
	width: 100%
}

.PF-form>.PF-textfield:not(:last-child),
.PF-form>.PF-textarea:not(:last-child),
.PF-form>.PF-select:not(:last-child),
.PF-form .PF-twocolumns:not(:last-child) {
	margin-bottom: .5em
}

.PF-form .PF-twocolumns {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1em 1.2fr;
	grid-template-columns: 1fr 1.2fr;
	-webkit-column-gap: .5em;
	-moz-column-gap: .5em;
	     column-gap: .5em
}

.PF-form .PF-twocolumns>* {
	margin-bottom: none
}

.PF-footer {
	padding: 16px 40px;
	color: rgba(var(--PF-color-on-surface));
	background-color: rgba(var(--PF-color-primary), .4)
}

.PF-footer .block.middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-footer .block.middle .section {
	padding: 16px 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto
}

.PF-footer .block.middle .section h1 {
	position: relative;
	width: 100%;
	padding-right: 39.8px;
	margin-bottom: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.2em;
	font-weight: 500;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden
}

.PF-footer .block.middle .section ul {
	display: block;
	font-size: 13px;
	list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0 0 32px
}

.PF-footer .block.middle .section ul li {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px
}

.PF-footer .block.middle .section ul li a {
	color: inherit;
	text-decoration: none;
	white-space: nowrap
}

.PF-footer .block.bottom {
	padding-top: 16px;
	margin-bottom: 16px;
	text-align: left;
	display: inline-block;
	width: 100%
}

.PF-footer .block.bottom h1 {
	margin: 0;
	margin-bottom: 5px;
	margin-right: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: rgb(var(--PF-color-on-surface));
	float: left
}

.PF-footer .block.bottom ul {
	font-size: 13px;
	list-style-type: none;
	list-style: none;
	padding: 0;
	float: left
}

.PF-footer .block.bottom ul li {
	margin-bottom: 0;
	margin-right: 16px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px;
	float: left
}

.PF-footer .block.bottom ul li a {
	color: inherit;
	text-decoration: none;
	white-space: nowrap
}

@media(max-width:45em) {
	.PF-footer {
		padding: 1rem
	}
	.PF-footer .block.middle {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.PF-footer .block.middle .section {
		padding: .5rem
	}
	.PF-footer .block.middle .section h1 {
		margin-bottom: 5px
	}
	.PF-footer .block.bottom {
		padding: .5rem
	}
}

.PF-table {
	position: relative;
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 13px;
	background-color: rgb(var(--PF-color-surface));
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	text-align: left;
	border-radius: 1em;
	overflow: hidden
}

.PF-table.full {
	width: calc(100% - 1rem);
	margin: .5rem
}

.PF-table thead {
	padding-bottom: 3px
}

.PF-table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	position: relative;
	height: 48px;
	-webkit-transition-duration: .28s;
	-o-transition-duration: .28s;
	transition-duration: .28s;
	-webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	-o-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color
}

.PF-table tr:hover {
	background-color: rgb(var(--PF-color-surface, 33, 150, 243))
}

.PF-table th {
	position: relative;
	vertical-align: bottom;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0;
	height: 48px;
	font-size: 14px;
	color: #000;
	padding: 0 1rem;
	padding-bottom: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.PF-table tr td {
	position: relative;
	height: 48px;
	border-top: 1px solid rgba(0, 0, 0, .12);
	padding: 12px 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: left
}

.PF-list {
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: left;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto
}

.PF-list.fit {
	max-height: 100%;
	min-height: initial
}

.PF-list * {
	text-align: left
}

.PF-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	list-style: none;
	cursor: pointer;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: left;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	width: calc(100% - 1rem);
	outline: 0;
	cursor: pointer;
	padding: 0;
	font-weight: 500;
	opacity: .85;
	overflow: hidden;
	display: flex;
	border-radius: 1.5em;
	margin: .1em .5rem;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content
}

.PF-list.normal li {
	border-radius: 1em
}

.PF-list li:last-child {
	margin-bottom: .5rem
}

.PF-list li:hover {
	background-color: rgba(var(--PF-color-primary), .22)
}

.PF-list li .PF-image,
.PF-list li .PF-avatar {
	min-width: 2.8rem;
	width: 2.8rem;
	height: 2.8rem;
	background: rgba(var(--PF-color-primary), .22);
	margin: .5rem;
	background-size: cover;
	background-position: center;
	margin-right: 0
}

.PF-list li .image.circle {
	border-radius: 10em
}

.PF-list li:hover .image {
	background-color: rgba(var(--PF-color-surface))
}

.PF-list li .PF-icon {
	margin: .5rem;
	margin-right: 0;
	color: rgba(var(--PF-color-on-surface), .8)
}

.PF-list li h1 {
	font-size: 18px;
	white-space: pre-wrap;
	color: rgba(var(--PF-color-on-surface))
}

.PF-list li .data {
	margin: 0 .5rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: .5rem
}

.PF-list li .image+.data {
	margin: auto
}

.PF-list li .data .PF-list li .data h1 {
	font-weight: 500;
	font-size: 15px
}

.PF-list li .data p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: .875rem;
	line-height: 1.25rem;
	font-weight: 400;
	text-decoration: inherit;
	text-transform: inherit;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	margin-top: 0;
	line-height: normal;
	display: block;
	color: rgba(var(--PF-color-on-surface), .8)
}

.PF-list li .data span.meta {
	color: rgba(0, 0, 0, .9);
	margin-left: auto;
	margin-right: 0;
	font-size: 12px
}

.PF-buttons {
	text-align: right;
	display: inline-block;
	margin: auto
}

.PF-buttons.full {
	width: 100%
}

.PF-buttons.flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.PF-buttons.align-left {
	text-align: left
}

.PF-buttons.align-right {
	text-align: right
}

.PF-hidedcontent {
	width: 100%
}

.PF-hidedcontent .content {
	width: 100%;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	overflow: hidden;
	max-height: 0;
	background: rgb(var(--PF-color-surface));
	margin: 0;
	border-bottom: 1px solid transparent;
	padding: .5rem
}

.PF-hidedcontent:not(.open) .content {
	padding: 0 .5rem
}

.PF-hidedcontent .content p {
	font-size: 18px;
	color: #5f6368;
	text-align: left;
	margin: 0;
	width: 100%;
	padding: .5rem
}

.PF-hidedcontent.open .content {
	max-height: 30rem;
	border-bottom: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24)
}

.PF-hidedcontent.noborder .content {
	border: 0
}

.PF-hidedcontent .PF-buttons .PF-button {
	margin-top: .5rem
}

.PF-hidedcontent .PF-buttons .PF-button:first-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-hidedcontent .PF-buttons .PF-button:last-child {
	display: none
}

.PF-hidedcontent.open .PF-buttons .PF-button:first-child {
	display: none
}

.PF-hidedcontent.open .PF-buttons .PF-button:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-guidenav {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: rgb(var(--PF-color-surface));
	width: 100%;
	margin-bottom: 0;
	font-weight: 500;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23)
}

.PF-guidenav .link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 16px 24px;
	color: rgba(var(--PF-color-on-surface), .87);
	text-decoration: none
}

.PF-guidenav .link.link-forward {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	text-align: right;
	text-align: end
}

.PF-guidenav .link.link i {
	-ms-flex-item-align: end;
	align-self: flex-end;
	vertical-align: middle
}

.PF-guidenav .link.link .text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 1.25rem;
	font-weight: 500;
	padding-right: 10px;
	padding-left: 10px
}

.PF-guidenav .link.link .text p {
	font-weight: 500
}

.PF-guidenav .link.link .text span {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 1px;
	color: rgba(var(--PF-color-on-surface), .54)
}

.PF-emptypage {
	width: calc(100% - 2rem);
	max-width: 40rem;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: rgb(var(--PF-color-on-surface));
	padding: 3rem 0 3rem;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 1em;
	background: transparent
}

.PF-emptypage.border {
	border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24);
	background-color: rgb(var(--PF-color-surface))
}

.PF-emptypage.full {
	margin: auto;
	border: 0
}

.PF-emptypage * {
	text-align: center
}

.PF-emptypage .container {
	margin: auto;
	padding: .5em
}

.PF-emptypage .container .PF-image {
	height: 10em;
	width: 10em;
	background-size: contain;
	margin: auto
}

.PF-emptypage .container .PF-image {
	width: 5rem;
	height: 5rem;
	background-size: contain;
	margin: auto;
	background-color: rgb(var(--PF-color-primary, 33, 150, 243), .2);
	border-radius: 100%;
	background-size: 3rem;
	background-repeat: no-repeat;
	background-position: center;
	display: -ms-inline-grid;
	display: inline-grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	font-size: 2rem
}

.PF-emptypage .container .PF-image.semi {
	opacity: .3
}

.PF-emptypage .container .PF-image i {
	font-size: 1em;
	color: rgb(var(--PF-color-primary))
}

.PF-emptypage .container>h1 {
	margin: .25em auto;
	font-weight: 500;
	max-width: 600px;
	font-size: 24px
}

.PF-emptypage .container>h2 {
	font-size: 18px;
	margin: .25em auto;
	font-weight: 500;
	max-width: 600px
}

.PF-emptypage .container>h3 {
	font-size: 16px;
	margin: .25em auto;
	margin-top: 1rem;
	max-width: 600px;
	font-weight: 500
}

.PF-emptypage .container>p {
	max-width: 300px;
	margin: .25em auto;
	font-weight: 500;
	font-size: 16px
}

.PF-emptypage .container>h1+p,
.PF-emptypage .container>h2+p,
.PF-emptypage .container>h3+p {
	margin-top: 0
}

[kLM]:not(:empty)+.PF-emptypage {
	display: none
}

.PF-infoblock {
	width: calc(100% - 1rem);
	margin: .5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	text-align: center;
	background-color: rgba(var(--PF-color-primary), .1);
	padding: 0;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: rgb(var(--PF-color-primary));
	border-radius: 1em
}

.PF-infoblock.transparent {
	border: 0
}

.PF-infoblock .container {
	padding: .5rem;
	text-align: left
}

.PF-infoblock .container p {
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	padding: .5rem
}

.PF-window {
	width: 90vw;
	height: 90vh;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgb(var(--PF-color-surface));
	max-width: 40rem;
	max-height: 40rem;
	z-index: 9998;
	border-radius: 1em;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
	display: none;
	overflow: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.PF-window.fitheight {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	max-height: 90vh
}

.PF-window.fitwidth {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content
}

.PF-window.full {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	border-radius: 0
}

.PF-window.open {
	opacity: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .16), 0 4px 8px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .16), 0 4px 8px 0 rgba(0, 0, 0, .2)
}

.PF-sheet.open:not(:last-child) {
	opacity: 0;
	pointer-events: none;
}

.PF-window .PF-toolbar {
	background-color: rgba(var(--PF-color-background), .8)
}

.window-toolbar {
	display: none
}

.PF-window .PF-toolbar.window-toolbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.PF-window:not(.fitheight) .PF-tabs {
	height: 100%;
	max-height: 100%
}

.PF-window:not(.fitheight) .PF-tabs .tabs {
	max-height: 100%;
	overflow: auto
}

.PF-window>.content {
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	overflow: hidden;
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.PF-window>.content .container {
	width: 100%;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: .5rem;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content
}

.PF-window>.content .container.full {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-window>.content .container.full.middle {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content
}

.PF-window .PF-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	width: 100%;
	padding: .5em
}

.PF-window .PF-toolbar,
.PF-window .PF-tabbar {
	--PF-color-background: var(--PF-color-surface)
}

.PF-content {
	width: calc(100% - 1em);
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding: 0;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	overflow: hidden;
	background-color: rgba(var(--PF-color-surface));
	border: solid 1px rgba(var(--PF-color-on-surface), .1);
	margin: 0 .5em
}

.PF-content+.PF-content {
	margin-top: .5em
}

.PF-content.center {
	text-align: center
}

.PF-content.full {
	width: 100%;
	margin: auto;
	border: 0
}

.PF-content.full.noborder {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	margin: 0;
	border-radius: 0;
	width: 100%
}

.PF-content.border {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: solid 1px #ddd
}

.PF-content.transparent {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	background: transparent
}

.PF-content.between {
	background-color: rgb(var(--PF-color-surface));
	z-index: 4
}

.PF-content .container {
	width: 100%;
	margin: auto;
	text-align: left;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	padding: .5rem
}

.PF-content.center .container {
	text-align: center
}

.PF-content>.container>.PF-image,
.PF-content>.container>.image {
	width: 100%;
	height: 10rem;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: -ms-inline-grid;
	display: inline-grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	font-size: 2rem
}

.PF-content .PF-image:not(.circle),
.PF-content .image {
	border-radius: 1em
}

.PF-content .container .PF-avatar {
	width: 6rem;
	height: 6rem;
	border-radius: 10em;
	margin: .5rem auto;
	position: relative;
	background-size: cover;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	cursor: pointer
}

.PF-content .container .PF-image.icon,
.PF-content .container .image.icon {
	border-radius: 10em;
	background: rgb(var(--PF-color-primary, 33, 150, 243), .2);
	margin: .5rem auto;
	width: 6rem;
	height: 6rem
}

.PF-content .container .PF-image.icon i,
.PF-content .container .image.icon i {
	font-size: 2.5rem
}

.PF-content>.container>h1,
.PF-content>.container>h2,
.PF-content>.container>h3,
.PF-content>.container>p {
	padding: .5rem
}

.PF-content>.container>h1 {
	font-size: 30px;
	font-weight: 500
}

.PF-content>.container>h2 {
	font-size: 1rem;
	font-weight: 500;
	color: rgba(0, 0, 0, .5)
}

.PF-content>.container>h3 {
	font-size: 1rem;
	color: rgba(0, 0, 0, .5);
	max-width: 90%
}

.PF-content>.container>p {
	font-size: 18px;
	font-weight: 500;
	color: rgb(var(--PF-color-on-surface));
	line-height: 28px
}

.PF-content>.container>h1+p,
.PF-content>.container>h2+p {
	padding-top: 0
}

.PF-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	max-width: 100%;
	overflow: visible;
	position: relative
}

.PF-tabs.border {
	border: solid 1px #ddd;
	border-radius: 1em;
	overflow: hidden
}

.PF-tabs.bottom {
	-webkit-box-flex: 1;
	    -ms-flex: 1 auto;
	        flex: 1 auto
}

.PF-tabs .tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	max-width: 100%;
	width: 100%;
	margin: auto
}

.PF-tabs .tabs .tab {
	display: none;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	max-width: 100%;
}

.PF-tabs.full .tabs .tab {
	overflow: auto;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.PF-tabs .tabs .tab.active {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.PF.saveOverflow {
	overflow: hidden;
	padding-bottom: .5em;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 3
}

.PF-tabbar {
	width: 100%;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	color: rgb(var(--PF-color-primary));
	min-height: -webkit-fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	background-color: rgb(var(--PF-color-background));
	z-index: 3;
	-webkit-backdrop-filter: saturate(180%) blur(var(--PF-blur));
	backdrop-filter: saturate(180%) blur(var(--PF-blur))
}

.PF-dark .PF-tabbar,
.PF-tabbar.PF-dark {
	border-bottom: 1px solid rgba(var(--PF-color-on-surface), .1)
}

.PF-tabbar.bottom {
	top: inherit;
	bottom: 0;
	background-color: rgba(var(--PF-color-surface))
}

.PF-tabbar.bar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	z-index: 1;
	background-color: rgb(var(--PF-color-surface))
}

.PF-tabbar .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	position: relative;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin: auto;
	padding: 0
}

.PF-tabbar.flex .container,
.PF-tabbar.bottom .container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-tabbar.full .container {
	width: 100%
}

.PF-tabbar.center .container {
	margin: auto
}

.PF-tabbar .container.center {
	margin: auto
}

.PF-tabbar .container::-webkit-scrollbar {
	display: none
}

.PF-tabbar.bottom .container {
	max-width: 50rem
}

.PF-tabbar .container ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: auto;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-tabbar.flex .container ul,
.PF-tabbar.bottom .container ul {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-tabbar .container ul li {
	color: rgba(var(--PF-color-on-surface), .8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	list-style: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
	-webkit-box-flex: 1;
	-ms-flex: 1 auto;
	flex: 1 auto;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	border-radius: 1em 1em 0 0;
	font-size: 15px;
	font-weight: 500;
	position: relative
}

.PF-tabbar .container ul li.active {
	color: rgb(var(--PF-color-primary))
}

.PF-tabbar .container ul li span {
	padding: .7rem 1em;
	white-space: nowrap;
	font-weight: 500;
	font-size: .9rem
}

.PF-tabbar .container ul li i {
	padding: .5rem 1rem;
	font-size: 22px;
	margin: auto
}

.PF-tabbar .container ul li .PF-icon {
	margin: 0;
	padding: 0
}

.PF-tabbar.flex .container ul li,
.PF-tabbar.bottom .container ul li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.PF-tabbar .container ul li i+span {
	font-weight: 500;
	margin: 0 .5rem;
	font-size: 13px;
	padding: .5rem;
	padding-top: 0;
	font-size: 13px;
	white-space: nowrap
}

.PF-tabbar .container ul li i {
	padding: .5rem;
	font-size: 22px;
	margin: auto
}

.PF-tabbar .container .slider {
	height: 3px;
	background: rgb(var(--PF-color-primary));
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	border-radius: 20px 20px 0 0;
	margin: 0 10px
}

.PF-tabbar.bottom .container .slider {
	display: none
}

.PF-tabbar.circle .container {
	padding: .5rem 0
}

.PF-tabbar.circle .container ul li {
	border-radius: 3em;
	margin: 0 5px
}

.PF-tabbar.circle .container ul li.active {
	background-color: rgba(var(--PF-color-primary), .1)
}

.PF-tabbar.circle .container ul li span {
	padding: .5rem 1rem
}

.PF-spinner {
	width: 100%;
	text-align: center
}

.PF-spinner .spin {
	width: 3rem;
	height: 3rem;
	-webkit-animation: PFspinner-rotate 2s linear infinite;
	animation: PFspinner-rotate 2s linear infinite;
	margin: auto;
	margin-top: .5rem;
	margin-bottom: 1rem
}

@-webkit-keyframes PFspinner-rotate {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes PFspinner-rotate {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.PF-spinner .spin .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: PFspinner-dash 1.5s ease-in-out infinite, PFspinner-color 6s ease-in-out infinite;
	animation: PFspinner-dash 1.5s ease-in-out infinite, PFspinner-color 6s ease-in-out infinite;
	stroke-linecap: round;
	stroke: #3f88f8
}

@-webkit-keyframes PFspinner-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124
	}
}

@keyframes PFspinner-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124
	}
}

@-webkit-keyframes PFspinner-color {
	0% {
		stroke: #3f88f8
	}
	20% {
		stroke: #3f88f8
	}
	25% {
		stroke: #dd413b
	}
	45% {
		stroke: #dd413b
	}
	50% {
		stroke: #f6ae2e
	}
	70% {
		stroke: #f6ae2e
	}
	75% {
		stroke: #259a5d
	}
	95% {
		stroke: #259a5d
	}
}

@keyframes PFspinner-color {
	0% {
		stroke: #3f88f8
	}
	20% {
		stroke: #3f88f8
	}
	25% {
		stroke: #dd413b
	}
	45% {
		stroke: #dd413b
	}
	50% {
		stroke: #f6ae2e
	}
	70% {
		stroke: #f6ae2e
	}
	75% {
		stroke: #259a5d
	}
	95% {
		stroke: #259a5d
	}
}

.PF-dark {
	background-color: rgb(var(--PF-color-background));
	color: rgb(var(--PF-color-on-surface));
	fill: rgb(var(--PF-color-on-surface))
}

.PF-dark .PF-dark-accept {
	color: var(--PF-color-on-surface) !important;
	fill: var(--PF-color-on-surface) !important
}

.PF-dark .darkmodebutton.dark {
	display: none
}

body:not(.PF-dark) .darkmodebutton.light {
	display: none
}

.PF-dark .PF-drawer .user-holder {
	color: rgb(var(--PF-color-on-surface))
}

.PF-dark .PF-drawer ul li {
	color: rgb(var(--PF-color-on-surface))
}

.PF-dark .PF-drawer ul li i,
.PF-dark .PF-drawer ul li svg {
	color: rgb(var(--PF-color-on-surface));
	fill: rgb(var(--PF-color-on-surface))
}

.PF-dark .PF-drawer .user-holder {
	border-color: #2a2a2a
}

.PF-dark .PF-hidedcontent .content {
	background-color: #333
}

.PF-dark .PF-hidedcontent.open .content {
	border-color: #2a2a2a
}

.PF-dark hr.PF,
.PF-dark .PF hr {
	border-color: #2a2a2a
}

@media(max-width:45em) {
	.PF-window {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		border-radius: 0
	}
	.PF-window .content {
		max-height: 100%
	}
	.PF-window.fitwidth {
		width: 100%
	}
	.PF-window.fitheight {
		height: 100%;
		max-height: 100%
	}
}

@media(max-width:75em) {
	.PF-bottombar ul {
		max-width: 100%
	}
	.PF-bottombar ul li {
		padding: 0 .7rem
	}
	.PF-window {
		background: rgb(var(--PF-color-background))
	}
}

@media(min-width:45em) {
	.PF.S-P {
		display: none !important
	}
}

@media(max-width:45em) {
	.PF.S-L {
		display: none !important
	}
}

.nozindex {
	z-index: initial
}