.PF-sheet {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-bottom: 0;
	width: 100%;
	max-width: 30em;
	padding: 0;
	background-color: rgb(var(--PF-color-surface));
	border-radius: 1em 1em 0 0;
	z-index: 9998;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	overflow: hidden;
	overflow-y: auto;
	max-height: 90vh;
	opacity: 0;
}

.PF-sheet.open {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1
}

.PF-sheet.open:not(:last-child) {
    opacity: .5;
    transform: translateY(90vh);
    pointer-events: none;
}

.PF-sheet>h1 {
	font-size: 1.5rem;
	color: rgb(var(--PF-color-on-surface));
	padding: 1rem;
	border-bottom: 1px solid rgb(var(--PF-color-surface, 33, 150, 243))
}

.PF-sheet>ul {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	max-height: 55vh
}

.PF-sheet>ul li {
	list-style: none;
	cursor: pointer;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: left;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	width: calc(100% - 0.5rem);
	outline: 0;
	cursor: pointer;
	padding: 0 .5rem;
	font-weight: 500;
	opacity: .85;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 2em 0 0 2em;
	margin: .5rem;
	margin-right: 0;
	padding-left: 0;
	color: rgb(var(--PF-color-on-surface))
}

.PF-sheet>ul li i {
	color: rgb(var(--PF-color-on-surface));
	fill: rgb(var(--PF-color-on-surface));
	padding: .5rem;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s
}

.PF-sheet>ul li span {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	padding: .5rem
}

.PF-sheet>ul li:hover,
.PF-sheet>ul li.active {
	background: rgba(var(--PF-color-primary), .2);
	color: rgb(var(--PF-color-primary));
	fill: rgb(var(--PF-color-primary))
}

.PF-sheet>ul li:hover i,
.PF-sheet>ul li.active i {
	color: rgb(var(--PF-color-primary))
}

.PF-sheet>ul hr {
	border: 0;
	border-bottom: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), .24)
}