.PFSlider-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	/*padding:0!important*/
}

.PFSlider-slider::-webkit-scrollbar {
	display: none!important
}

.PFSlider-list {
	position: relative;
	display: block;
	/*overflow:hidden;*/
	margin: 0;
	padding: 0
}

.PFSlider-list:focus {
	outline: 0
}

.PFSlider-list.dragging {
	cursor: pointer;
	cursor: hand
}

.PFSlider-slider .PFSlider-list,
.PFSlider-slider .PFSlider-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.PFSlider-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.PFSlider-track:after,
.PFSlider-track:before {
	display: table;
	content: ''
}

.PFSlider-track:after {
	clear: both
}

.PFSlider-loading .PFSlider-track {
	visibility: hidden
}

.PFSlider-slide {
	display: none;
	float: left;
	min-height: 1px
}

[dir=rtl] .PFSlider-slide {
	float: right
}

.PFSlider-slide img {
	display: block
}

.PFSlider-slide.PFSlider-loading img {
	display: none
}

.PFSlider-slide.dragging img {
	pointer-events: none
}

.PFSlider-initialized .PFSlider-slide {
	display: block
}

.PFSlider-loading .PFSlider-slide {
	visibility: hidden
}

.PFSlider-vertical .PFSlider-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.PFSlider-arrow.PFSlider-hidden {
	display: none
}

.PFSlider-slider .movers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgb(var(--PF-color-surface));
	z-index: 1;
	-webkit-box-shadow: var(--PF-shadow);
	box-shadow: var(--PF-shadow);
	color: #000;
	outline: none;
	border: none;
}

.PFSlider-slider .movers.left {
	left: .5rem
}

.PFSlider-slider .movers.right {
	right: .5rem
}

.PFSlider-slider .PFSlider-dots {
	display: inline-flex;
	margin: .5rem auto
}

.PFSlider-slider .PFSlider-dots li {
	padding: .5rem;
	transition: .5s;
	border-radius: 2em;
	font-size: 12px;
	width: 2rem;
	height: 2rem;
	cursor: pointer
}

.PFSlider-slider .PFSlider-dots li * {
	cursor: pointer
}

.PFSlider-slider .PFSlider-dots li:hover {
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24)
}

.PFSlider-slider .PFSlider-dots li.PFSlider-active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23)
}