.PF-textfield.filled {
    position: relative;
    display: inline-block;
    font-size: 17px;
    overflow: hidden;
    /*flex: 1 auto;*/
}

/* Input, Textarea */
.PF-textfield.filled > input,
.PF-textfield.filled > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    border-radius: 4px 4px 0 0;
    padding: 0 12px 10px;
    width: 100%;
    height: inherit;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.04);
    box-shadow: none; /* Firefox */
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;
    resize: none;
    flex: 1 auto;
}

/* Span */
.PF-textfield.filled > input + span,
.PF-textfield.filled > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 12px 0;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Underline */
.PF-textfield.filled > input + span::after,
.PF-textfield.filled > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.3s;
}

/* Hover */
.PF-textfield.filled > input:hover,
.PF-textfield.filled > textarea:hover {
    border-bottom-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.08);
}

/* Placeholder-shown */
.PF-textfield.filled > input:not(:focus):placeholder-shown + span,
.PF-textfield.filled > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 48px;
}

/* Focus */
.PF-textfield.filled > input:focus,
.PF-textfield.filled > textarea:focus {
    outline: none;
}

.PF-textfield.filled > input:focus + span,
.PF-textfield.filled > textarea:focus + span {
    color: rgb(var(--PF-color-primary, 33, 150, 243));
}

.PF-textfield.filled > input:focus + span::before,
.PF-textfield.filled > textarea:focus + span::before {
    opacity: 0.12;
}

.PF-textfield.filled > input:focus + span::after,
.PF-textfield.filled > textarea:focus + span::after {
    transform: scale(1);
}

/* Disabled */
.PF-textfield.filled > input:disabled,
.PF-textfield.filled > textarea:disabled {
    border-bottom-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
    background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.24);
}

.PF-textfield.filled > input:disabled + span,
.PF-textfield.filled > textarea:disabled + span {
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .PF-textfield.filled > input,
        .PF-textfield.filled > input + span,
        .PF-textfield.filled > input + span::after,
        .PF-textfield.filled > textarea,
        .PF-textfield.filled > textarea + span,
        .PF-textfield.filled > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}










































.PF-textfield.outlined {
    --PF-safari-helper1: rgb(var(--PF-color-primary, 33, 150, 243));
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-family: var(--PF-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    overflow: hidden;
    flex: 1 auto;
}

/* Input, Textarea */
.PF-textfield.outlined > input,
.PF-textfield.outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
    resize: none;
    flex: 1 auto;
}

/* Span */
.PF-textfield.outlined > input + span,
.PF-textfield.outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.PF-textfield.outlined > input + span::before,
.PF-textfield.outlined > input + span::after,
.PF-textfield.outlined > textarea + span::before,
.PF-textfield.outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.PF-textfield.outlined > input + span::before,
.PF-textfield.outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.PF-textfield.outlined > input + span::after,
.PF-textfield.outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

/* Hover */
.PF-textfield.outlined:hover > input,
.PF-textfield.outlined:hover > textarea {
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    border-top-color: transparent;
}

.PF-textfield.outlined:hover > input + span::before,
.PF-textfield.outlined:hover > textarea + span::before,
.PF-textfield.outlined:hover > input + span::after,
.PF-textfield.outlined:hover > textarea + span::after {
    border-top-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
}

.PF-textfield.outlined:hover > input:not(:focus):placeholder-shown,
.PF-textfield.outlined:hover > textarea:not(:focus):placeholder-shown {
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.PF-textfield.outlined > input:not(:focus):placeholder-shown,
.PF-textfield.outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
}

.PF-textfield.outlined > input:not(:focus):placeholder-shown + span,
.PF-textfield.outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
}

.PF-textfield.outlined > input:not(:focus):placeholder-shown + span::before,
.PF-textfield.outlined > textarea:not(:focus):placeholder-shown + span::before,
.PF-textfield.outlined > input:not(:focus):placeholder-shown + span::after,
.PF-textfield.outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}

/* Focus */
.PF-textfield.outlined > input:focus,
.PF-textfield.outlined > textarea:focus {
    border-color: rgb(var(--PF-color-primary, 33, 150, 243));
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--PF-safari-helper1), inset -1px 0 var(--PF-safari-helper1), inset 0 -1px var(--PF-safari-helper1);
    outline: none;
}

.PF-textfield.outlined > input:focus + span,
.PF-textfield.outlined > textarea:focus + span {
    color: rgb(var(--PF-color-primary, 33, 150, 243));
}

.PF-textfield.outlined > input:focus + span::before,
.PF-textfield.outlined > input:focus + span::after,
.PF-textfield.outlined > textarea:focus + span::before,
.PF-textfield.outlined > textarea:focus + span::after {
    border-top-color: var(--PF-safari-helper1) !important;
    box-shadow: inset 0 1px var(--PF-safari-helper1);
}

/* Disabled */
.PF-textfield.outlined > input:disabled,
.PF-textfield.outlined > input:disabled + span,
.PF-textfield.outlined > textarea:disabled,
.PF-textfield.outlined > textarea:disabled + span {
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
    pointer-events: none;
}

.PF-textfield.outlined > input:disabled + span::before,
.PF-textfield.outlined > input:disabled + span::after,
.PF-textfield.outlined > textarea:disabled + span::before,
.PF-textfield.outlined > textarea:disabled + span::after {
    border-top-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38) !important;
}

.PF-textfield.outlined > input:disabled:placeholder-shown,
.PF-textfield.outlined > input:disabled:placeholder-shown + span,
.PF-textfield.outlined > textarea:disabled:placeholder-shown,
.PF-textfield.outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38) !important;
}

.PF-textfield.outlined > input:disabled:placeholder-shown + span::before,
.PF-textfield.outlined > input:disabled:placeholder-shown + span::after,
.PF-textfield.outlined > textarea:disabled:placeholder-shown + span::before,
.PF-textfield.outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .PF-textfield.outlined > input,
        .PF-textfield.outlined > input + span,
        .PF-textfield.outlined > textarea,
        .PF-textfield.outlined > textarea + span,
        .PF-textfield.outlined > input + span::before,
        .PF-textfield.outlined > input + span::after,
        .PF-textfield.outlined > textarea + span::before,
        .PF-textfield.outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}













































.PF-textfield.standard {
    position: relative;
    display: inline-block;
    font-family: var(--PF-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    overflow: hidden;
    flex: 1 auto;
}

/* Input, Textarea */
.PF-textfield.standard > input,
.PF-textfield.standard > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    padding: 0 0 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;
    resize: none;
    flex: 1 auto;
}

/* Span */
.PF-textfield.standard > input + span,
.PF-textfield.standard > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Underline */
.PF-textfield.standard > input + span::after,
.PF-textfield.standard > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.2s;
}

/* Hover */
.PF-textfield.standard > input:hover,
.PF-textfield.standard > textarea:hover {
    border-bottom-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.PF-textfield.standard > input:not(:focus):placeholder-shown + span,
.PF-textfield.standard > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 56px;
}

/* Focus */
.PF-textfield.standard > input:focus,
.PF-textfield.standard > textarea:focus {
    outline: none;
}

.PF-textfield.standard > input:focus + span,
.PF-textfield.standard > textarea:focus + span {
    color: rgb(var(--PF-color-primary, 33, 150, 243));
}

.PF-textfield.standard > input:focus + span::before,
.PF-textfield.standard > textarea:focus + span::before {
    opacity: 0.12;
}

.PF-textfield.standard > input:focus + span::after,
.PF-textfield.standard > textarea:focus + span::after {
    transform: scale(1);
}

/* Disabled */
.PF-textfield.standard > input:disabled,
.PF-textfield.standard > textarea:disabled {
    border-bottom-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
}

.PF-textfield.standard > input:disabled + span,
.PF-textfield.standard > textarea:disabled + span {
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .PF-textfield.standard > input,
        .PF-textfield.standard > input + span,
        .PF-textfield.standard > input + span::after,
        .PF-textfield.standard > textarea,
        .PF-textfield.standard > textarea + span,
        .PF-textfield.standard > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}